<div class="row bg-color-red"><span></span></div>
<div class="container">
  <div class="d-flex justify-content-center center-page">
    <div class="col-8 text-center">
      <h1>Welcome to Rails Game of Life</h1>
      <p>Please Login or SignUp to play</p>
      <%= link_to 'Login', new_user_session_path, class: "button-generation" %>
      <br>
      <span>or</span>
      <br>
      <%= button_to 'SignUp', new_user_registration_path, class: "button-generation" %>
    </div>
  </div>
</div>
<div class="row bg-color-red-red"><span></span></div>